<div class="basket">
    <h3 class="title">Корзина</h3>
    <div class="close close-button icon-close">×</div>
    <div class="basket-uptitles">
        <p class="basket-uptitle-1">Назва товару</p>
        <p class="basket-uptitle-2">Кількість</p>
        <p class="basket-uptitle-3">Вартість</p>
    </div>
    <div class="basket-items"></div>
    <div class="basket-order">
        <p class="close"><i class="icon-arrow">←</i> Повернутись до покупок</p>
        <p class="basket-order-price">Итого: <span class="basket-order-total">0 грн.</span></p>
        <div class="basket-order-buttons">
            <div class="basket-order-buy">Оформити замовлення</div>
            <div class="basket-order-clear">Очистити корзину</div>
        </div>
    </div>
</div>

<header class="header">
    <div class="container">
        <div class="logo__block">
            <div class="logo"></div>
            <p class="slogan">Цифровий світ <br> в кроці від тебе</p>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="#">Головна</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Оплата и доставка</a></li>
                <li><a href="#">Обмен и возврат</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </nav>
        <div class="basket-button">
            <span class="basket-icon"></span>
            <span class="basket-notify">0</span>
            <p class="basket-text">Корзина</p>
        </div>
    </div>
</header>