<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style_chat.css">
</head>
<body>
    {{!-- <div style="position: absolute; visibility: hidden; width: 0; height: 0;">
	<svg>
		<symbol id="emoji" width="47" height="47" viewBox="0 0 47 47" fill="none">
			<path d="M0.489502 20.0033C0.489502 12.2325 7.94145 6.36459 16.551 6.36459C23.4024 6.36459 29.477 10.0536 31.7089 15.4695C31.809 15.7124 31.6348 15.9759 31.373 15.9976C30.6439 16.0579 29.9198 16.1615 29.2061 16.3063C29.0238 16.3433 28.84 16.2504 28.7586 16.0832C26.8714 12.2091 22.2359 9.30209 16.551 9.30209C9.04184 9.30209 3.427 14.3316 3.427 20.0033C3.427 23.0675 5.02093 25.897 7.70106 27.8975C8.07248 28.1747 8.29125 28.611 8.29125 29.0745V30.9167L11.322 30.0742C11.586 30.0008 11.8652 30.0027 12.1281 30.0797C13.3241 30.4299 14.6026 30.6427 15.9359 30.693C16.1475 30.701 16.3179 30.8713 16.3271 31.0828C16.3634 31.9208 16.4756 32.7302 16.6563 33.5084C16.6721 33.5764 16.6208 33.6419 16.551 33.6421C14.8687 33.6421 13.2434 33.4227 11.7142 33.0141L7.21589 34.2646C6.77363 34.3875 6.29932 34.2966 5.93384 34.0189C5.56836 33.7411 5.35375 33.3085 5.35375 32.8495V29.7882C2.39695 27.3478 0.489502 23.8948 0.489502 20.0033Z" fill="#5E5E5E"/>
			<path d="M13.424 16.172C13.424 17.3234 12.4907 18.2567 11.3393 18.2567C10.188 18.2567 9.25467 17.3234 9.25467 16.172C9.25467 15.0207 10.188 14.0874 11.3393 14.0874C12.4907 14.0874 13.424 15.0207 13.424 16.172Z" fill="#5E5E5E"/>
			<path d="M21.7627 18.2567C22.914 18.2567 23.8474 17.3234 23.8474 16.172C23.8474 15.0207 22.914 14.0874 21.7627 14.0874C20.6114 14.0874 19.678 15.0207 19.678 16.172C19.678 17.3234 20.6114 18.2567 21.7627 18.2567Z" fill="#5E5E5E"/>
			<path d="M28.4857 29.7225C29.4931 29.7225 30.3098 28.9058 30.3098 27.8984C30.3098 26.8909 29.4931 26.0743 28.4857 26.0743C27.4783 26.0743 26.6616 26.8909 26.6616 27.8984C26.6616 28.9058 27.4783 29.7225 28.4857 29.7225Z" fill="#5E5E5E"/>
			<path d="M39.1697 27.8984C39.1697 28.9058 38.3531 29.7225 37.3457 29.7225C36.3382 29.7225 35.5216 28.9058 35.5216 27.8984C35.5216 26.8909 36.3382 26.0743 37.3457 26.0743C38.3531 26.0743 39.1697 26.8909 39.1697 27.8984Z" fill="#5E5E5E"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M32.8717 19.3063C40.138 19.3063 46.501 24.2661 46.501 30.9167C46.501 34.2046 44.9174 36.6832 42.4568 38.7518V41.1882C42.4568 41.6472 42.2421 42.0798 41.8767 42.3576C41.5112 42.6353 41.0369 42.7262 40.5946 42.6032L36.91 41.579C35.634 41.914 34.2804 42.0935 32.8809 42.0935C25.6146 42.0935 19.2516 37.1337 19.2516 30.4831C19.2516 23.8324 25.6053 19.3063 32.8717 19.3063ZM43.5728 30.4831C43.5728 25.9315 39.0469 21.8101 32.8809 21.8101C26.715 21.8101 22.1891 25.9315 22.1891 30.4831C22.1891 35.0346 26.715 39.156 32.8809 39.156C34.1541 39.156 35.3713 38.975 36.4979 38.6451C36.7608 38.5681 37.04 38.5662 37.304 38.6396L39.5193 39.2554V38.0423C39.5193 37.5789 39.738 37.1426 40.1095 36.8653C42.292 35.2362 43.5728 32.9465 43.5728 30.4831Z" fill="#5E5E5E"/>
		</symbol>
		<symbol id="attach" width="47" height="47" viewBox="0 0 47 47" fill="none">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M42.3497 15.3471C47.512 20.5093 47.512 28.8789 42.3497 34.0412L31.2717 45.1192C27.639 48.7519 21.7493 48.7519 18.1166 45.1192C14.4839 41.4865 14.4839 35.5968 18.1166 31.9641L29.3924 20.6882C31.4955 18.5851 34.9054 18.5851 37.0085 20.6882C39.1117 22.7914 39.1117 26.2012 37.0085 28.3044L26.1283 39.1846C25.5548 39.7581 24.6248 39.7581 24.0512 39.1846C23.4776 38.611 23.4776 37.681 24.0512 37.1074L34.9314 26.2272C35.8874 25.2713 35.8874 23.7213 34.9314 22.7654C33.9754 21.8094 32.4255 21.8094 31.4695 22.7654L20.1937 34.0412C17.7082 36.5267 17.7082 40.5565 20.1937 43.0421C22.6792 45.5276 26.7091 45.5276 29.1946 43.0421L40.2726 31.9641C44.2877 27.949 44.2877 21.4393 40.2726 17.4242C36.2575 13.4091 29.7478 13.4091 25.7327 17.4242L15.0503 28.1065C14.4768 28.6801 13.5468 28.6801 12.9732 28.1065C12.3996 27.533 12.3996 26.603 12.9732 26.0294L23.6556 15.3471C28.8178 10.1848 37.1875 10.1848 42.3497 15.3471Z" fill="#5E5E5E"/>
		</symbol>
		<symbol id="send" width="47" height="47" viewBox="0 0 47 47" fill="none" >
			<path fill-rule="evenodd" clip-rule="evenodd" d="M40.6353 23.0344C40.6242 23.9338 40.1991 24.9726 39.1975 25.5331L38.5878 25.8743C29.2853 31.0799 19.6157 35.3235 9.69576 38.5522C8.38554 38.9787 7.27383 38.2759 6.75885 37.3982C6.25506 36.5396 6.18758 35.3584 6.8307 34.3584L12.7843 25.1004C13.4423 24.0772 13.444 22.6886 12.8387 21.7302L7.11054 12.6603C6.4649 11.638 6.58976 10.4517 7.08945 9.6189C7.59134 8.78245 8.67322 8.03567 9.99369 8.4261C19.8427 11.3382 29.4173 15.2744 38.6014 20.1859L39.203 20.5077C40.2439 21.0643 40.6463 22.1373 40.6353 23.0344ZM37.6725 23.0203L37.2162 22.7763C28.4083 18.066 19.2383 14.2721 9.81252 11.4374L15.3224 20.1617C16.5576 22.1176 16.51 24.7378 15.255 26.6893L9.59283 35.4941C19.0446 32.3599 28.2667 28.2837 37.1533 23.3108L37.6725 23.0203Z" fill="#5E5E5E"/>
		</symbol>
	</svg>
</div> --}}

<div class="container">
  <div class="chat">
    <div class="top">
      <p class="title">Teacher</p>
      <img class="image_search" src="img/search.png" alt="">
    </div>
    <div class="center">
      <div class="content left">
        <div class="avatar">
          <div class="student-image">
            <img class="image123" src="img/input1.png" alt="">
          </div>
        </div>
        <div class="wrapper">
          <div class="message">
            <p class="message-text">Hi bro</p>
            <time class="message-time">10.47</time>
          </div>
          
        </div>
      </div>
      <div class="content right">
        <div class="avatar">
          <div class="teacher-image">
            <img class="image123" src="img/input2.png" alt="">
          </div>
        </div>
        <div class="wrapper">
          <div class="message">
            <p class="message-text">Hi bro</p>
            <time class="message-time">10.48</time>
          </div>
          
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="attach">
          <img style="cursor: pointer;" src="img/screpka.png" alt="">	
	  </div>
      <div class="grow-wrap">
        <textarea class="writer" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Написати повідомлення"></textarea>
      </div>
      <div class="emoji">
		    <img style="margin-left: -10px; cursor: pointer;" src="img/smile.png" alt="">			
		</div>
      <div class="send">
      	<img class="send" style="cursor: pointer;" src="img/sandd.png" alt="">
      </div>
    </div>
  </div>
  
  </div>
    <script src="js/socket.io.min.js"></script>
    <script src="js/chat.js"></script>
</body>
</html>