<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="views/css/style_groups.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="content">	
			<h1 class="header_text">
                Групи ШКМ
            </h1>
            <div class="block_underheader">
                <input class="" type="text" >
            </div>
		</div>
		<div class="footer">
			<div class="footer_container">
				<img class="image_logo" src="/img/imagelogo.png">
				<p class="footer_text">Copyright © 2022. Усі права захищено. </p>
				<img class="image_footer" src="/img/logos_tvitgy.png" alt="">
			</div>
		</div>
	</div>
</body>
</html>