@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,400i,700");

*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto';
	margin-top: -1000px;
}

.journal{
	width: 1312px;
	background: linear-gradient(111.1deg, #F7F7F7 0%, #FDFDFD 100%);
	border-radius: 0px 0px 12px 12px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	position: absolute;
	left: calc(50% - 1312px / 2);
	top: calc(50% - 650px / 2);
	box-sizing:border-box;
}

.menu{
	width: 1312px;
	height: 43px;
	position: absolute;
	top: -43px;
	left: -1px;
	display: flex;
	justify-content: space-between;
}
.month{
	width: 122px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	background: #FBFBFB;
	border-radius: 12px 12px 0px 0px;
	box-shadow: 0px 5px 60px -30px rgba(0, 0, 0, 0.25), inset 0px 5px 60px -45px rgba(0, 0, 0, 0.25);
	border: 1px solid transparent;
	border-bottom: none;
	cursor: pointer;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
}
.month.active, .month:hover{
	height: 43px;
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: none;
	font-weight: 500;
	background: #F7F7F7;
}

.month-table{
	padding: 13px;
}

.month-table, .thead, .tbody, .marks{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.thead .cell, .tbody .student, .tbody .row .title, .tbody .row input, .add-student{
	height: 31px;
	line-height: 31px;
	width: 100px;
	padding: 0 10px;
	background: #F2F2F2;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	border: 1px solid #C7C7C7;
	text-align: center;
	margin-bottom: 8px;
}
.thead .cell:nth-child(1), .tbody .row .title{
	width: 300px;
	text-align: left;
}

.tbody .row{
	width: 100%;
}
.tbody .row .title, .add-student{
	background: #FFFFFF;
}
.tbody .row, .tbody .row .cell{
	display: flex;
	justify-content: space-between;
	padding: 0;
}
.tbody .row .cell{
	width: 100px;
	margin-bottom: 8px;
}
.tbody .row input{
	width: 46px;
	margin: 0;
	padding: 0 !important;
	background: #FFFFFF;
	border: 1px solid #C7C7C7;
}
.tbody .row:hover .title, .tbody .row:hover input,
.tbody .row.focus .title, .tbody .row.focus input{
	background: #F2F2F2;
}
.tbody .row input:focus{
	background: #fff;
}
.tbody .row input:hover{
	border: 1px solid #777777;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.add-student{
	width: 100%;
	height: 36px;
	line-height: 36px;
	display: flex;
	-webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
	cursor: pointer;
}
.add-student .plus{
	margin-right: 15px;
	display:inline-block;
	border: 1px solid #C7C7C7;
	background: #F2F2F2;
	color:#374053;
	border-radius: 50%;
	line-height: 21px;
	width: 21px;
	height: 21px;
	transform: rotateZ(0deg);
	transition: all .3s ease;
}





















.left{
	width: 310px;
	height: 600px;
	display: block;
	padding: 40px;
	margin-top: 20px;
}
.right{
	width: 310px;
	height: 600px;
	padding: 40px;
	margin-top: 20px;
	display: block;
}
.modal{
	width: 630px;
	height: 600px;
	position: fixed;
	top: calc(50% - 300px);
	left: calc(50% - 310px);
	background: #FFFFFF;
	box-shadow: 0px 5px 60px -30px rgba(0, 0, 0, 0.65);
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #374053;
	opacity: 0;
	visibility: hidden;
}
.show{
	visibility: visible;
	opacity: 1;
	display: flex;
	flex-direction: row;
	
}

#second_name, #first_name, #birthday ,#telegram, #email, #login, #password, #phone {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 250px;
	height: 30px;
	border: 1px solid #C7C7C7;
}

#image{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 250px;
	height: 335px;
	border: 1px solid #C7C7C7;
}

.block_subres{
	width: 500px;
	height: 30px;
	display: flex;
	flex-direction: row;
}

.reset{
	background-image: url(..//img/delete_journal.png);
	background-repeat: no-repeat;
	width: 30px;
	border: none;
	cursor: pointer;
	margin-right: 20px;
}

.submit{
	width: 150px;
	height: 30px;
	background-image: url(..//img/subsubmit.png);
	border: none;
	cursor: pointer;
}
.aaaa{
	width: 12px;
	height: 12px;
	position: absolute;
	top: 15px;
	left: 600px;
	bottom: 20px;
	cursor: pointer;
}
.aaa{
	display: block;
	width: 200px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 20px;
	bottom: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #374053;
}


.block_groupp{
	width: 100px;
	height: 50px;
	margin-top: 1020px;
}